<launch>
  <arg name="config" default="$(find emotion_bot_lite3_hw)/config/default.yaml"/>
  <rosparam command="load" file="$(arg config)" ns="emotion_bot/hardware"/>
  <node pkg="emotion_bot_lite3_hw" type="emotion_receiver.py" name="emotion_receiver" ns="emotion_bot/hardware" output="screen" required="true"/>
  <node pkg="emotion_bot_lite3_hw" type="stop_relay_receiver.py" name="stop_relay_receiver" ns="emotion_bot/hardware" output="screen" required="true"/>
  <node pkg="emotion_bot_lite3_hw" type="expression_status_publisher.py" name="expression_status_publisher" ns="emotion_bot/hardware" output="screen"/>
</launch>
