[submodule "emotion-bot"]
	path = emotion-bot
	url = https://github.com/dimitarbez/emotion-bot.git
	branch = feature/emotion-robot-integration
[submodule "lite3-noetic/ws/Lite3_VMC"]
	path = lite3-noetic/ws/Lite3_VMC
	url = https://github.com/dimitarbez/Lite3_VMC.git
	branch = feature/emotion-robot-integration
[submodule "lite3_vmc_upstream"]
	path = lite3_vmc_upstream
	url = https://github.com/dimitarbez/Lite3_VMC.git
	branch = master
